.photos {
    width: 250px;
    margin: auto;
    align-content: center;
    margin-bottom: 2%;
}
#photos-skijumpingworld {
    width: 900px;
}
#photos-polishcities {
    width: 650px;
}
body {
    text-align: center;
    width: 100%;
}
.projects-body {
    padding-top: 2%;
}
#projects-subpage-title {
    margin: 2% 0%;
}
.project-description {
    text-align: justify;
    font-size: 1.10em;
}
.btn {
    margin: 2% 0;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238ccfff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238ccfff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
@media screen and (max-width: 876px) {
    .photos {
        max-width: 100%;
    }
}